{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Machine Learning{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Square card -->
<style>
.card-square-style-transfer.mdl-card {
  width: 320px;
  height: 320px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.card-square-style-transfer > .mdl-card__title {
  color: #fff;
  background:
    url('static/style_transfer_tiger.jpeg') center / cover;
}

 .card-square-vae.mdl-card {
  width: 320px;
  height: 320px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.card-square-vae > .mdl-card__title {
  color: #fff;
  background:
    url('static/vae_number.png') center / cover;
}
</style>

<div class="row m-3">

  <div class="card-square-style-transfer mdl-card mdl-shadow--2dp l-5">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">StyleTransfer</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Transfers the style of one image to another.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="machine_learning/style_transfer">
        View details
      </a>
    </div>
  </div>

  <div class="card-square-vae mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">VAE</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Generates new samples based on a variety of provided features.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="machine_learning/vae">
        View details
      </a>
    </div>
  </div>

</div>

{% endblock %}
