{% extends 'base.html' %}

{% block header %}
<h1 xmlns="http://www.w3.org/1999/html">{% block title %}Variational autoencoder (VAE){% endblock %}</h1>
{% endblock %}

{% block content %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <script type=text/javascript>

          $(document).ready(function() {

            $("#btnGenerateDigit").click(function(){
              var slider = document.getElementById("digitSlider01");
              console.log(slider.value);
              $.ajax({
                type : 'POST',
                "Content-Type":"application/json",
                url : "{{url_for('vae_get_image')}}",
                data: { latent_dim01: document.getElementById("digitSlider01").value, latent_dim02: document.getElementById("digitSlider02").value },
                success: function(data) {
                    console.log(data);
                    document.getElementById("imgDigit").src = data['image'];
                }
              });
            });
          });
    </script>

    <div class="row">

        <div class="col-md-6 align-self-center">
        <img id="imgDigit" src="{{ image }}"/>
        </div>

        <div class="col-md-6 align-self-center">
            <form method="post">
              <input id="digitSlider01" class="mdl-slider mdl-js-slider" type="range" min="-2" max="2" value="{{ latent_dim01 }}" tabindex="0" step="0.1" name="latent_dim01">

              <br>
              <br>

              <input id="digitSlider02" class="mdl-slider mdl-js-slider" type="range" min="-2" max="2" value="{{ latent_dim02 }}" tabindex="0" step="0.1" name="latent_dim02">

              <br>
              <br>

              <div class="text-center">
                <button id="btnGenerateDigit" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    Generate image
                </button>
              </div>
            </form>
        </div>

    </div>

{% endblock %}